@model NecessaryDrugs.Web.Areas.Admin.Models.MedicineUpdateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit Medicine";
}
@section notification
{
    @await Html.PartialAsync("_Notification", Model.Notification)
}
<div class="col-md-6">
    <div class="card">
        <div class="card-header bg-primary text-uppercase text-white">
            <h4>Edit Medicine</h4>
        </div>
        <div class="card-body">
            <form enctype="multipart/form-data" asp-controller="Medicine" asp-action="Edit" method="post">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Name:</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label">Description:</label>
                        <textarea asp-for="Description" class="form-control" rows="3" placeholder="About the Medicine..."></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Price" class="control-label">Price:</label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-12 mt-4">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="DisountType" class="control-label">Discount Type:</label>
                                <select asp-for="DisountType" class="form-control">
                                    @if (Model.DisountType == "FixedAmountDiscount")
                                    {
                                        <option selected value="FixedAmountDiscount">Fixed Amount Discount</option>
                                        <option value="PercentageDiscount">Percentage Discount</option>
                                    }
                                    else
                                    {
                                        <option selected value="PercentageDiscount">Percentage Discount</option>
                                        <option value="FixedAmountDiscount">Fixed Amount Discount</option>
                                    }
                                </select>
                                <span asp-validation-for="DisountType" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <label asp-for="AmountOrPercentage" class="control-label">Amount/Percentage:</label>
                                <input asp-for="AmountOrPercentage" class="form-control" />
                                <span asp-validation-for="AmountOrPercentage" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="text-bold">Manage Medicine Categories</h5>
                        </div>
                        <div class="card-body">
                            @for (int i = 0; i < Model.medCatModel.Count; i++)
                            {
                                <div class="form-check m-1">
                                    <input type="hidden" asp-for="@Model.medCatModel[i].CategoryId" />
                                    <input type="hidden" asp-for="@Model.medCatModel[i].CategoryName" />
                                    <input asp-for="@Model.medCatModel[i].IsSelected" class="form-check-input" />
                                    <label class="form-check-label" asp-for="@Model.medCatModel[i].IsSelected">
                                        @Model.medCatModel[i].CategoryName
                                    </label>
                                </div>
                            }
                            <div asp-validation-summary="All" class="text-danger"></div>
                        </div>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-4">
                        <label class="control-label">Previous Image:  </label>
                        <img src="~/admin/img/@Model.Url" asp-append-version="true" style='height:100px; width:200px;'>
                    </div>
                    <div class="col-md-8 mt-1">
                        <div class="form-group">
                            <label asp-for="Image" class="control-label">Change the Image:</label>
                            <div class="custom-file">
                                <input asp-for="Image" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                            <span asp-validation-for="Image" class="text-danger"></span>
                            <p class="text-blue mt-1">Note : If you upload a new image, the previous image will be deleted.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-12">
                    <div align="right" class="form-group">
                        <input type="submit" value="submit" class="btn btn-sm btn-primary text-uppercase" />
                        <a asp-action="Index" class="btn btn-sm btn-primary text-uppercase text-white"> Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}





